
//CourseAssignment 20240715:
//  Aufgabe 1:  Prettier
// Abgabe: Link zu dem prettier commit

// Sucht euch weitere prettier Konfigurationen heraus und passt die bestehenden nach euren Präferenzen an.
// Die Regeln könnt ihr unter der .prettierrc Datei einfügen/anpassen 

{
  "printWidth": 96,
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore"
}
